/* App.css */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.reminder-list {
  background-image: url(https://wallpapers.com/images/hd/paper-texture-background-zlvqcgwohwvd642j.jpg) ;
  position: fixed;
  display: inline-block;
  flex: 1;
  padding: 1rem;
  border: 5px solid #ccc;
  border-radius: 10px;
  margin: 0 1rem;
  width: 400px;
  height: 400px;
  margin-left: 40%;
}
.input-container {
  background-image: url(https://wallpapers.com/images/hd/paper-texture-background-zlvqcgwohwvd642j.jpg) ;
  min-width: 400px;
  position: fixed;
  flex: 1;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-right: 15%;
  margin-top: -10%;
}
.ant-picker {
  margin-top: 20px;
  margin-right: 10px;
}
.ant-pagination {
  position: fixed;
  bottom: 20px; /* Đặt khoảng cách từ dưới lên là 20px */
  left: 50%; /* Để canh giữa */
  transform: translateX(-50%); /* Để canh giữa */
  margin-bottom: 13.5%;
  margin-left: 19%;
}

.highlighted {
  background-color: #e6f7ff; /* Màu nền xanh nhạt */
}
